.dark h1, .dark h3 {
    text-align: center;
    color: #e4e4e4;
}

h1 {
    text-align: center;
}

.dark {
    background-color: #242121;
}

#notation {
    text-align: center;
}

.exercises-selector {
    margin: 100px 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.exercises-selector button {
    padding: 9px;
    border-radius: 8px;
    background-color: #3b82f6;
    color: #e4e4e4;
    transition: all ease 0.5s;
}

.exercises-selector button:hover {
    cursor: pointer;
    scale: 1.3;
}

.header-option {
    background-color: #3b82f6;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: #e4e4e4;
}

.tab-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.playback-cursor {
    position: absolute;
    background: red;
    top: 0;
    bottom: 0;
    pointer-events: none;
    width: 2px;
}