<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Riff Trainer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body class="dark">

    <header class="main-header">
        <div class="logo"><a href="/">🎸 Riff Trainer</a></div>
        <div class="subtitle">Train your precision. Master your riffs.</div>
        <nav>
            <a href="/">Home</a>
            <a href="/#riffs-library">Library</a>
        </nav>
    </header>

    {% block content %}

    {% endblock %}

    <script src="https://unpkg.com/tone"></script>
    <script src="https://unpkg.com/vextab/releases/div.prod.js"></script>
    <script src="{{ url_for('static', filename='js/cursorsync.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabDisplay.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visuals.js') }}"></script>
</body>
</html>
