<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riff Trainer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="dark">
    <h1>Riff Trainer</h1>
    <h3>Chose your <b>exercise</b></h3>
    <div class="exercises-selector">
        {% for tab in tabNames %}

            <form action="/tab" method="post">
                <input name="tab" type="hidden" value="{{ tab[0] }}">
                <button type="submit">{{ tab[0] }}</button>
            </form>

        {% endfor %}

        <form action="/tab" method="post">
            <input name="tab" type="hidden" value="Rock1">
            <button type="submit">Rock 1</button>
        </form>
    </div>
    
    <script src="http://unpkg.com/tone"></script>
    <script src="https://unpkg.com/vextab/releases/div.prod.js"></script>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabDisplay.js') }}"></script>
</body>
</html>