<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riff Trainer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="dark">
    <header class="main-header">
        <div class="logo">🎸 Riff Trainer</div>
        <div class="subtitle">Train your precision. Master your riffs.</div>

        <nav>
            <a href="/">Home</a>
            <a href="#">Library</a>
        </nav>
    </header>

    <section class="keep-playing">
        <h2>Keep Playing</h2>
        <p>Continue practicing your riffs or explore new ones from the library below!</p>
    </section>

    <h3>Riff Library</h3>
    <section class="riffs-library">
        <input type="text" id="searchInput" placeholder="Search riffs..."> 
        <div class="exercises-selector">
            {% for tab in tabNames %}

                <form action="/tab" method="post" class="riff-item">
                    <input name="tab" type="hidden" value="{{ tab[0] }}">
                    <button type="submit">{{ tab[0] }}</button>
                </form>

            {% endfor %}
        </div>
    </section>
    
    <script src="http://unpkg.com/tone"></script>
    <script src="https://unpkg.com/vextab/releases/div.prod.js"></script>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabDisplay.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visuals.js') }}"></script>
</body>
</html>