{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <section class="keep-playing">
        <h2>Keep Playing</h2>
        <p>Continue practicing your riffs or explore new ones from the library below!</p>
        <h3>Favorites</h3>
        {% for tab in favorites %}
                <form action="/tab" method="post" class="riff-favorite-item">
                        <input name="tab" type="hidden" value="{{ tabInfo[((tab)-1)][0] }}">
                        <button type="submit" class="riff-button">
                            <spam class="riff-name">{{ tabInfo[((tab)-1)][0] }}</spam>
                        </button>
                </form>
        {% endfor %}

        <h3>Recently Played</h3>
        {% for tab in recent %}
                <form action="/tab" method="post" class="riff-recent-item">
                        <input name="tab" type="hidden" value="{{ tab }}">
                        <button type="submit" class="riff-button">
                            <spam class="riff-name">{{ tab }}</spam>
                        </button>
                </form>
        {% endfor %}
    </section>

    <h3>Riff Library</h3>
    <section class="riffs-library">
        <input type="text" id="searchInput" placeholder="Search riffs..." autocomplete="off"> 
        <div class="exercises-selector">
            {% for tab in tabInfo %}

                <form action="/tab" method="post" class="riff-item">
                    <input name="tab" type="hidden" value="{{ tab[0] }}">
                    <button type="submit" class="riff-button">
                        <spam class="riff-name">{{ tab[0] }}</spam>
                        <span class="difficulty
                        {% if tab[1] == 'easy' %}easy
                        {% elif tab[1] == 'medium' %}medium
                        {% elif tab[1] == 'hard' %}hard
                        {% elif tab[1] == 'extreme' %}extreme
                        {% endif %}">
                            [{{ tab[1] }}]
                        </span>
                    </button>
                </form>

            {% endfor %}
        </div>
    </section>

{% endblock %}
