<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riff Trainer - Tab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <a href="/" class="header-option">Back</a>
    <div class="top-container">
        <img src="{{ url_for('static', filename='img/star-empty.png') }}" alt="Favorite" class="star-icon"
        data-empty="{{ url_for('static', filename='img/star-empty.png') }}" 
        data-filled="{{ url_for('static', filename='img/star-filled.png') }}"
        data-id="{{ id }}">
        <h1 class="tab-title">{{ exercise }}</h1>
    </div>
    
    <div class="tab-container">
        <div id="notation">
        </div>
        <div class="playback-cursor"></div>
    </div>

    <div class="media-controls">
        <input type="number" name="bpm" id="bpm" placeholder="BPM" value="120" min="40" max="300">
        <button id="preview" class="preview-option">Play</button>
        <!-- Interrupt player -->
        <button id="preview-stop" class="preview-option">Stop</button>
        <!-- toggle loop -->
        <label>
        <input type="checkbox" id="loop">
        Loop
        </label>
        <p id="tabId" data-id="{{ id }}"></p>
        <input type="checkbox" id="metronome">
        <label for="metronome">Metronome</label>

    </div>
    </div>
    <input type="hidden" id="timeSignature" value="{{ time_signature }}">

    <script src="http://unpkg.com/tone"></script>
    <script src="https://unpkg.com/vextab/releases/div.prod.js"></script>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cursorSync.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabDisplay.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visuals.js') }}"></script>
</body>
</html>