<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riff Trainer - Tab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <a href="/" class="header-option">Back</a>
    <h1>{{ exercise }} picking exercise</h1>
    <div class="vextab-auto" id="notation"
        width=680 scale=1.0 editor="false"
        editor-width=680 editor-height=330>
        {{ tab }}
    </div>

    <button id="preview">Preview</button>
    <p id="tabId" data-id="{{ id }}"></p>
    
    
    <script src="http://unpkg.com/tone"></script>
    <script src="https://unpkg.com/vextab/releases/div.prod.js"></script>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
</body>
</html>